﻿@model MvcApplication2.Models.AssemblyModel

@{
    ViewBag.Title = "Podzespół - " + Model.SimpleName;
}

<h2>@ViewBag.Title</h2>

<div>Wersja: @Model.Version</div>
<div>Token klucza publicznego: @Model.PublicKeyToken</div>

<h3>Typy</h3>
@foreach (string name in Model.Types)
{
    <div>@name</div>
}
